name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'  # Specify your Python version

      - name: dependencies
        run: |
          pip install -r requirements.txt

      - name: pytest
        run: |
          pytest tests 

      - name: pylint
        run: |
          pylint src